{% for destination in destinations %}
<a href="{{ destination.get_absolute_url }}" class="text-decoration-none">
{% if forloop.last %}
<div class="card border-0 pb-3 pb-sm-5" hx-get="{% url 'homepage' %}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed"
    hx-swap="afterend">
{% else %}
    <div class="card border-0 pb-3 pb-sm-5">
    {% endif %}
        <div class="row">
            <div class="col-8">
                <div class="card-body p-0">
                    <div class="d-flex pb-2 text-body infscroll-author"> {{destination.country}} </div>
                    <h1 class="mb-1 text-body fw-bold infscroll-title">{{destination.description|truncatechars:100}}</h1>
                    <h2 class="text-muted fs-6 d-none d-sm-block">{{destination.city}}</h2>
                    <div class="text-muted infscroll-date">{{destination.updated_at | date:"M d, Y"}}</div>
                </div>
            </div>
            <div class="col-4">
                <img src="https://picsum.photos/seed/picsum/200/300" class="img-fluid float-end">
            </div>
        </div>
    </div>
</a>
{% endfor %}