<div class="border-bottom border-2 border-dark">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 py-1 py-md-5 text-center text-md-start">
                <h1 class="display-1">Some Nice Tours!</h1>
                <p class="fs-4 lh-1 text-muted fw-500 pb-5">
                    We have many different tours suited for your needs.
                </p>
                <button type="button" class="btn btn-dark rounded-pill fw-500 fs-6 px-4">Start Traveling</button>
             </div>
        </div>
    </div>
</div>