{% extends "base/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %} Bookings {% endblock %}

{% block template %}

{% include "base/navbar.html" %}

    <br>

    <div class="container bg-white shawdow-md p-5 form-layout">

     <h1>Book A Tour</h1>

     <form method="POST" autocomplete="off">
        {% csrf_token %}

        Form goes here
       
        <input class="btn btn-success w-10" type="submit" value="Login" />

     </form>
     <a href="{% url 'homepage' %}">Back To Home</a></p>
    </div>

    <br>
    {% endblock %}