{% extends "base/3-col-template.html" %}


{% block content-left %}
    {% include "base/side-navbar.html" %}
{% endblock %}

{% block content-mid %}

<style>
    .tours h1 {
        letter-spacing: -0.6px;
    }

    .tour h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .tour p {
        font-family: Merriweather;
        font-size: 1.0625rem;
        line-height: 32px;
        letter-spacing: 0.2px;
    }
</style>

<div class="tours center mx-auto" style="max-width: 683px;">
<div class="text-muted">
    {{tour.name}}
</div>

<div class="text-muted">
    {{tour.updated_at|date:"M d, Y"}}
</div>

<h1 class="fw-bol dpb-2" >
    {{tour.destination}}
</h1>

<h2 class="text-muted fs-4 pb-4">
    {{tour.price | floatformat:2}}
</h2>

<h3 class="text-muted fs-4 pb-4">
    {{tour.price | floatformat:2}}
</h3>
<div class="post">
    {{tour.description | markdown | safe }}
</div>

</div>

{% endblock %}

{% block content-right %}
{% sidebar_tag_cloud %}

<div class="col-12">
    <div>
        <div class="pb-3">More tours {{tour.city}}</div>
        {% for tour in related %}
            <a class="text-decoration-none" href="{{post.get_absolute_url}}">
                <div class="card mb-3 border-0 ps-1">
                    <div class="row">
                        <div class="col-9 pe-2">
                            <span class="text-dark small">
                                {{post.author}}
                            </span>
                            <h1 class="mb-1 fs-6 p-0 text-dark fw-bold">{{post.title|truncatechars:80}}</h1>
                        </div>
                        <div class="col-3">
                            <img src="https://picsum.photos/205/115" class="img-fluid float-end">
                        </div>    
                    </div>
                 </div>              
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}

